
a {
  text-decoration: none;
}

#cuerpo  {
  background-color: blanchedalmond;
}

.titulo1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5rem;
  background-image:url(../img/nav-madera2.jpg);
}

function buscarCategoria() {
  let buscador = document.getElementById("filter-button");
  filter-button.addEventListener("click", Filtrar);
  let arrayFiltrado = products.filter((prod) => prod.categoria === (buscador.value));
  mostrarProductos (arrayFiltrado);

}
.seleccionados {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: larger;

}

#container-prods {
  padding: 2rem;
  margin: 2rem;
  border-style: groove;
  display: flex;
  flex-wrap: wrap;
}

div {
  margin: 1rem;
  padding: 2rem;
  background-color: rgb(244, 223, 196);
  border-style: outset;
}

.misEstilos {
  width: 17rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 2%;
  border-style: hidden;
}
