
a {
  text-decoration: none;
}

#cuerpo  {
  background-color: blanchedalmond;
}

.titulo1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5rem;
  background-image:url(../img/nav-madera2.jpg);
}

#container-prods {
  padding: 2rem;
  margin: 1rem;
  border-style: dotted;
}

.seleccionados {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: larger;

}
.misEstilos {
  width: 20rem;
  
}

.tarjetas-mesas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  
}

.tarjetas-modulares {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  
}

.tarjetas-extras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  
}
