
a {
  text-decoration: none;
}

#cuerpo  {
  background-color: blanchedalmond;
}

.titulo1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5rem;
  background-image:url(../img/nav-madera2.jpg);
}

.seleccionados {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: larger;

}

.card img {
  width: 18rem;
}

div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(244, 223, 196);
  border-style: ridge;
}

.misEstilos {
  width: 17rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 2%;
  border-style: hidden;
}
